{% extends 'base.html.twig' %}

{% block title %}Liste des sous-catégories{% endblock %}

{% block body %}

    <h1 class="text-center mt-4">Liste des sous-catégories</h1>

    <div class="container text-center">

        <div class="d-flex justify-content-around flex-wrap">

            <button type="button" class="btn btn-secondary mb-4"> <a href="{{ path('backend_admin_home') }}">Retour à l'accueil administration</a> </button>
            <button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#AddSubcategoryModal">➕ Ajouter une sous-catégorie</button>
        </div>

        <div class="modal fade" id="AddSubcategoryModal" tabindex="-1" role="dialog" aria-labelledby="AddSubcategoryModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AddSubcategoryModalLabel">Ajouter une sous-catégorie</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% form_theme addSubcategoryForm with ['bootstrap_4_horizontal_layout.html.twig'] only %}
                    {{ form_start(addSubcategoryForm) }}
                    <div class="modal-body">
                        {{ form_row(addSubcategoryForm.name) }}
                        {{ form_row(addSubcategoryForm.category) }}
                        <div class="form-group row">
                            <label for="add_subcategory_enable" class="col-form-label col-sm-2">Activer</label>
                            <div class="col-sm-10" data-children-count="1">
                                {{ form_row(addSubcategoryForm.enable, {'attr': {'class': 'switch form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">ajouter</button>
                    </div>
                    {{ form_end(addSubcategoryForm) }}
                </div>
            </div>
        </div>

        <table class="table table-striped table-responsive text-center">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Nom</th>
                <th scope="col">Image</th>
                <th scope="col">Activer</th>
                <th scope="col">Date de création</th>
                <th scope="col">Dernière mise à jour</th>
                <th scope="col">Modification</th>
                <th scope="col">Suppression</th>
            </tr>
            </thead>
            <tbody>
            {% for subcategory in pagination %}
                <tr>
                    <td>{{ subcategory.id }}</td>
                    <td>{{ subcategory.category.name }}</td>
                    <td>{{ subcategory.name }}</td>
                    <td>{% if subcategory.image is not null %}<img src="{{ asset('uploads/avatar/' ~ subcategory.image) }}" alt="{{ subcategory.name }}"> {% else %} Pas d'image {% endif %}</td>
                    <td>{{ subcategory.enable ? "Oui" : "Non" }}</td>
                    <td>{{ subcategory.createdAt|date("d M Y, H:i:s", "Europe/Paris") }}</td>
                    <td>{{ subcategory.updatedAt ? subcategory.updatedAt|date("d M Y, H:i:s", "Europe/Paris") : 'Aucune date' }}</td>
                    <td class="table__data--edit">
                        <a href="{{ path('backend_subcategory_edit', {'id' : subcategory.id}) }}"><i class="fa fa-pencil-square-o edit__icon"></i></a>
                    </td>
                    <td class="table__data--delete">
                        <form action="{{ path('backend_subcategory_delete', {'id' : subcategory.id}) }}" method="post" onsubmit="return confirm('Voulez vous vraiment supprimez la sous-catégorie ?');">
                            <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">
                            <button type="submit" class="btn justify-content-center delete__button"><i class="fa fa-trash-o delete__icon"></i></button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr class="text-center">
                    <td colspan="9">Aucun résultat !</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
