{% extends 'base.html.twig' %}

{% block title %}{{ univers.name }}{% endblock %}

{% block body %}

    <h1 class="text-center mt-4">Modifier l'univers</h1>

    <div class="container text-center col-md-6 col-sm-10">
        {% form_theme editUniversForm with ['bootstrap_4_horizontal_layout.html.twig'] only %}
        {{ form_start(editUniversForm) }}

            {{ form_row(editUniversForm.name) }}

            {# TODO: Image upload #}
            {{ form_row(editUniversForm.image) }}

            <div class="form-group row">
                <label for="add_univers_enable" class="col-form-label col-sm-2">Activer</label>
                <div class="col-sm-10" data-children-count="1">
                    {{ form_row(editUniversForm.enable, {'attr': {'class': 'switch form-control'}}) }}
                </div>
            </div>

            {{ form_row(editUniversForm.createdAt) }}

            <div class="mt-4">
                <a href="{{ path('backend_univers_list') }}" class="btn btn-secondary">Retour à la liste</a>
                <button type="submit" class="btn btn-primary">Modifier</button>
            </div>

        {{ form_end(editUniversForm) }}
    </div>
{% endblock %}