{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}

    <h1 class="text-center mt-4">Modifier la catégorie</h1>

    <div class="container text-center col-md-6 col-sm-10">
        {% form_theme editCategoryForm with ['bootstrap_4_horizontal_layout.html.twig'] only %}
        {{ form_start(editCategoryForm) }}

        {{ form_row(editCategoryForm.name) }}

        {{ form_row(editCategoryForm.univers) }}

        {# TODO: Image upload #}
        {{ form_row(editCategoryForm.image) }}

        <div class="form-group row">
            <label for="add_category_enable" class="col-form-label col-sm-2">Activer</label>
            <div class="col-sm-10" data-children-count="1">
                {{ form_row(editCategoryForm.enable, {'attr': {'class': 'switch form-control'}}) }}
            </div>
        </div>

        {{ form_row(editCategoryForm.createdAt) }}

        <div class="mt-4">
            <a href="{{ path('backend_category_list') }}" class="btn btn-secondary">Retour à la liste</a>
            <button type="submit" class="btn btn-primary">Modifier</button>
        </div>

        {{ form_end(editCategoryForm) }}
    </div>
{% endblock %}