<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %} Cocorico World {% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('asset/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('asset/css/font-awesome.min.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Convergence&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div>
            {% block header%}{% include 'layout/_header.html.twig' %} {% endblock %}
            <div class="container">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} flash">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {% block body %}{% endblock %}
        <div>
            {% block footer %} {% include 'layout/_footer.html.twig' %} {% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('asset/js/jquery.min.js') }}" ></script>
            <script src="{{ asset('asset/js/popper.min.js') }}" ></script>
            <script src="{{ asset('asset/js/bootstrap.min.js') }}" ></script>
        {% endblock %}
    </body>
</html>