<!-- Footer -->
<footer>
    <div class="mt-3"> 
      <div class="row">        
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-6 my-auto mx-auto ">
            <ul class="list-unstyled w-50 mx-auto my-auto">
                <li class="m-1 border-bottom"><a class="text-dark" href="{{ path('producer_registration') }}">S'inscrire en tant que producteur</a></li>                       
                <li class="m-1 border-bottom"><a class="text-dark" href="{{ path('company_page') }}">Qui sommes-nous</a></li>
                <li class="m-1 border-bottom"><a class="text-dark" href="{{ path('faq_page') }}">FAQ </a></li>
                <li class="m-1 border-bottom"><a class="text-dark" href="{{ path('legalsmentions_page') }}">Mentions Legales</a></li>    
            </ul>
        </div>   
        <div class="m-auto ">
          <p>Vous avez des questions ?</p>
          <button><a  href="{{ path('contact') }}">Contactez-nous</a></button>  
        </div>      
      </div>        
    </div>
    <hr>        
      <div class="d-flex justify-content-center">        
          <div class="col-md-6">
              <form class="input-group">
            <input type="text" class="form-control form-control-sm-secondary" placeholder="S'inscrire à la newsletter"
              aria-label="Your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
            <button class="btn btn-secondary" type="button">Envoyer</button>
            </div>
          </form>        
        </div>
    </div>
    <hr>
    
    <!-- Social buttons -->
    <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-center">Suivez nous</h5>
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
              <i class="fa fa-twitter-square fa-3x"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-facebook-square fa-3x"></i>
        </li>
        <li class="list-inline-item">
            <i class="fa fa-pinterest-square fa-3x"></i>
        </li>
      </ul>
    <!-- Social buttons -->
    
    <!-- Copyright -->
    <div class=" bg-secondary pt-3">
        <div class="row d-flex">            
            <div class="col text-center">
                <p>Copyright © 2019 Cocorico Tous droits réservés | <a class="text-dark" href="{{ path('cgv_page') }}"> CGV</a> | <a  class="text-dark" href="{{ path('legalsmentions_page') }}">Information légales</a></p>
            </div>
    <!-- Copyright -->
        </div>
    </div>
</footer>
    <!-- Footer -->